logs/
lightning_logs/
output/
exp/
real_world_data/
real_world_output/
test_data/
runs/
__pycache__/
viz/
viz_lightning/

output
test_data

*.ipynb
settings.json
.vscode/
sim_dataset/
real_dataset/
real_world_data_v2/
data_v2/


real_world_data_exr/
real_world_data_depth/
real_world_depth/
real_world_dataset/