dataset_ratio: 1.0
batch_size: 24
scale: 1.0
epochs: 500

teacher_encoders:
  disp_path: '/arm/u/maestro/Desktop/DenseTact-Model/exp/hiera_ultra_disp/checkpoints/last.ckpt'
  # cnorm_path: '/arm/u/maestro/Desktop/DenseTact-Model/exp/hiera_cnorm_ultra_fixed/checkpoints/dt_model-epoch=194-val_psnr=55.31.ckpt'
  # stress_path: '/arm/u/maestro/Desktop/DenseTact-Model/exp/hiera_stress_ultra_fixed/checkpoints/dt_model-epoch=187-val_psnr=46.64.ckpt'
  # # stress2_path: '/arm/u/maestro/Desktop/DenseTact-Model/exp/hiera_stress2_ultra_fixed/checkpoints/dt_model-epoch=188-val_psnr=56.04.ckpt'
  # area_shear_path: '/arm/u/maestro/Desktop/DenseTact-Model/exp/hiera_shear_ultra_fixed_1000/checkpoints/last.ckpt'

scales:
  disp: 10.
  cnorm: 1000.
  stress: 1000.
  stress2: 1000.
  area_shear: 1000.

unit_scales:
  disp: 1000.
  cnorm: 1.
  stress: 1.
  stress2: 1.
  area_shear: 1.

model:
  name: HieraDPT
  out_chans: [3, 3, 3, 3, 3]
  pretrained_model: "mae_random_crop_hiera/checkpoints/last.ckpt"
  LoRA: True
  
  hiera:
    return_encoder_output: False
    decoder: "QUpsampling"
    decoder_embed_dim: 512
    decoder_num_heads: 16
    decoder_depth: 8

dataset:
  output_type: ["disp", "cnorm", "stress1", "stress2", "shear"]
  normalization: False

optimizer:
  name: AdamW
  lr: 0.001

metric:
  PN_thresh: 0.001
  TF_abs_error_thresh: 0.01

scheduler:
  name: linear_cosine
  warmup: 500
